h2 {
    padding-top: 35px;
    color: white;
    background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(black, 0.6));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h3 {
    color: #64A19D !important;
}

.section-subheading {
    color: #64A19D !important;
    padding-top: 15px;    
}

.subheading {
    color: #64A19D !important;
}

ul {
    list-style-type: none;
}

.company {
    color: #64A19D !important; 
}
