.hoverable-icon {
    color:gray !important;
    font-size:3em;
    padding-bottom: 90px;
}

.hoverable-icon:hover {
    color: #64A19D !important;
}

.subheading {
    color:gray !important;
    font-size: 2em;
    font-family: 'Varela Round';
}

span:hover {
    color: #64A19D !important;
}